<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faker</title>
</head>
<body>
    <h1>Fake info detected here</h1>
    <ul>
        {% for items in fakelibrary %}
            <li>{{ items }}</li>
        {% endfor %}
    </ul>
</body>
</html>