<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voskoboynik Flask</title>
</head>
<body>
    <h1>Homework 2. First Flask Project</h1>
    <ul>
        {% for req in library%}
            <li>{{ req }}</li>
        {% endfor %}
    </ul>
</body>
</html>